@model MembershipUser

<div class="text-center">
    <h1 class="display-4">נא למלא פרטים לצורך הזדהות</h1>
     <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">שם</label>
                    <input asp-for="UserNameText" class="form-control" />
                    <span asp-validation-for="UserNameText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">תעודת זהות</label>
                    <input asp-for="UserIdentityNumber" class="form-control" />
                    <span asp-validation-for="UserIdentityNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="כניסה וביצוע פעולה" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


</div>