@{
    ViewData["Title"] = "צור קשר";
}
<h1>@ViewData["Title"]</h1>

<p>אתר זה הוקם ומתוחזק על ידי רותם מירון, נייד 0528829604</p>
<p>לכל תקלה או הצעה לשיפור ניתן ליצור קשר טלפוני או במייל rm13rotem@gmail.com</p>
