@model LibraryMatan.Models.MembershipUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MembershipUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserNameText" class="control-label"></label>
                <input asp-for="UserNameText" class="form-control" />
                <span asp-validation-for="UserNameText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserIdentityNumber" class="control-label">תעודת זהות</label>
                <input asp-for="UserIdentityNumber" class="form-control" />
                <span asp-validation-for="UserIdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">טלפון</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">אימייל</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDateTime" class="control-label"></label>
                <input asp-for="CreatedDateTime" class="form-control" disabled="disabled" />
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
